body {
background-image:
url(Screenshot\ 2025-11-28\ 194442.png);
}

h2{
    background-color: cornsilk;
}

h1{
color: black;
}

h1{
    background-color: powderblue;
}

p{
    color:black;
}

p{
    background-color: gold;
}

li{
    color:black;
}

li{
    background-color: gold;
}

body {
  text-align: center;
}

ul{
    list-style-type: disc;
    list-style-position: inside;
}