body {
background-image:
url(Screenshot\ 2025-11-28\ 204057.png)
}

body {
background-color:rgb(207, 255, 209);
margin: 0px;
}


.Header{
    margin-top: 0px;
    width: 1280;
    position: fixed;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color:rgb(113, 140, 86);
}

li {
float: left;
border-right:1px solid #bbb;
}

li:last-child {
border-right: none;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: rgb(155, 158, 212);
}

.active {
background-color:forestgreen
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:medium
}

body {
  text-align: center;
}